.details {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.details-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  background: black url("../../../public/images/meteor.png") center center / cover no-repeat;
  box-shadow: inset 0 0 8rem var(--grapesoda), 0 0 4rem var(--dusk);
  padding-bottom: 3rem;
}

.details-wrapper.light {
  background-color: var(--dusk);
}
