.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('http://localhost:3000/images/flora-hero.png') center top / 60rem no-repeat;
  height: 18rem;
  opacity: .86;
}

@media (max-width: 1024px) {
  .hero {
    background: none;
  }
}