.title {
  display: block;
  background: url('../../../public/images/title.png') center top / contain no-repeat;
  width: 20rem;
  height: 4.35rem;
  text-align: center;
  font: 500 normal 1.2em / 4.25rem "Bubbler One", sans-serif;
  color: var(--dusk);
  text-transform: uppercase;
  margin: 0 auto;
}
