.App {
  display: flex;
  flex-direction: column;
  background: url('../public/images/background.jpg') center top / cover no-repeat;
  min-height: 100vh;
}

.container {
  width: var(--screen-width);
  margin: 0 auto;
}

.chapter {
  font: 400 normal 4em "Carattere", serif;
  margin: 0 .5rem .5rem 0;
  padding: 0 .5rem;
  border: 1px solid var(--grapesoda);
  line-height: 0;
}

.cta-button,
#card-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  appearance: none;
  border: none;
  width: 75%;
  padding: 1rem;
  border-radius: .5rem;
  border: 1px solid var(--dusk);
  position: relative;
  background: linear-gradient(to bottom, var(--dusk), var(--cerulean));
  color: white;
  box-shadow: 0 .5rem 2rem var(--dusk);
  font: 600 normal 1.1em "Bubbler One", sans-serif;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  transition: all .25s linear;
}

.cta-button:hover,
#card-button:hover {
  opacity: .86;
  filter: brightness(1.5);
  box-shadow: 0 .25rem 1rem var(--greenglow);
}

.cta-button:after,
#card-button:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: inherit;
  background: url('../public/images/shine.svg') 0 25% / cover no-repeat;
  opacity: .2;
  z-index: 1;
}

#card-button {
  width: 100%;
}

@media (max-width: 1275px) {
  .container {
    width: 90vw;
  }
}